{{> head }}

    {{> navbar }}

    <main class="container-sm my-3">
        <div class="bg-light p-5 rounded">
            <h1>Hola, {{capitalizar nombre}}!</h1>
            <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti veniam aspernatur expedita eum totam soluta, velit aliquid ducimus deserunt odit repudiandae maiores consectetur ipsum id inventore at sequi cupiditate commodi..</p>
            <a class="btn btn-lg btn-primary" href="#" role="button">Demo</a>
        </div>
    </main>
    
    {{> footer }}